
<% if @tasks.any? %>
  <%= render 'tasks/table' %>
<% else %>
  <h3>No tasks yet!</h3>
<% end %>


<br>

<div class="panel panel-default">
  <div id="new_link" class="panel-body">
    <%= link_to 'New Task', new_task_path, remote: true %>
  </div>

  <div id="new_task" class="panel-body">

  </div>
</div>